.path-wrap{
  position:relative;
}

.path {
    position:absolute;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: flash 2.5s ease-in-out 0.2s;
    stroke: #fff;
    fill:#fff;

    
}

@keyframes flash {
    0% {
        stroke-dashoffset: 1000;
        fill: #348AC7;  
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        
    }
    10% {
        fill: rgba(0, 0, 0, 1);
    }
    20% {
        fill: rgba(0, 0, 0, 0.2);
    }
    30% {}
    40% {
        fill: rgba(0, 0, 0, 1);
    }
    50% {
        fill: rgba(0, 0, 0, 0.2);
    }
    60% {
        fill: rgba(0, 0, 0, 1);
    }
    70% {
        fill: rgba(0, 0, 0, 0.2);
    }
    80% {
        fill: rgba(0, 0, 0, 1);
    }
    90% {
        fill: rgba(0, 0, 0, 0.9);
    }
    100% {
        stroke-dashoffset: 0;
        fill: #fff;
        
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}


body {
  
  .ui.segment.pushable{
// CSS TransitionGroup 
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
// END CSS TransitionGroup 

  }
}