
body{
    @font-face {
        font-family: Proxima;
        //src: url(http://www.font-face.com/fonts/delicious/Delicious-Roman.otf);
        src: url(fonts/$Proxima-Nova-font);
        font-weight:400;
    }
    .heading{
        font-family: 'Montserrat'
    }
    
    .ui.button:hover,.ui.button:focus{
        background: rgba(0,0,0,0);
        color:#03A9F4;
    }
    .pushable{
        border: 0px;
        box-shadow: none;
        margin-top: 0px;
        margin-bottom:0px;
        border-radius: 0px;
        
    }
   
    header{
        width: 100%;
        background: #268ee0;
        padding-bottom: 3px;
        padding-top: 10px;
        border-bottom: 4px solid #186eb1;
        h1{
            color:#fff;
        }
        
        .ui.container{
            background: rgba(0,0,0,0) !important;
            .row{
                .column{
                    .ui.menu{
                        background: #268ee0;
                        border: 0px;
                        box-shadow:0px 0px 0px;
                        h1{
                            color: #fff;
                            text-shadow: 0px 0px 4px;
                        }
                        .right{
                            &.item:before{
                                width:0px;
                            }
                            .item{
                                color:#fff;
                                font-size:16px;
                                &:hover{
                                    background:rgba(0, 0, 0, 0.15)
                                }
                                
                            }
                            .item:before{
                                width:1px;
                            }
                            
                        }
                        
                    }
                }
            }
            
        }
        
    }
  
    

    
    .ui.basic.segment{
        padding-top: 50px;
    }
    button.ui.main-menu{
        position: fixed;
        top: 3px;
        right: -7px;
        z-index: 99999;
        background: rgba(0,0,0,0);
        font-size: 38px;
        padding: 5px;
        color: #fff;
        text-shadow: 0px 0px 9px;
        border: 0px;
        margin-right: -20px;
    }
    p{
        //font-family: $Proxima-Nova-font;
        font-family: Nunito, sans-serif;
        color: #737373;
        font-size: 21px;
    }
    a.item.link {
        color: #fff;
    }
    a.item.link:hover{
        color:#010f61;
    }
    

    footer{
        padding-top: 30px;
        padding-bottom:20px;
        background: #232526;
        background: -webkit-linear-gradient(to top, #292a2b, #232526);
        background: linear-gradient(to top, #292a2b, #232526); 
 
        @media(max-width:470px){
            position:initial;
            margin-top:0px;
        }
        .ui.segment{
            background: #000000;
            background: -webkit-linear-gradient(to right, #434343, #000000);
            background: linear-gradient(to bottom, #434343, #000000);
            color: #fff;
            text-align: center;
            box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.4);
            border: none;
            font-size: 7px;
            border-radius: 100%;
            height: 70px;
            width: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 3px;
            margin-top: 0px;
            border: solid;
            margin: 0 auto;
            &.pushable{
                margin-top:0px;
            }
            
            @media(max-width:588px){
                height:50px;
                width:50px;
                font-size:5px;
                
            }
            
        }
        h1{
            text-align: center;
            font-size: 15px;
            color: #ccc;
        }
        ul li{
            list-style: none;
            i.icon{
                font-size:24px;
                color:#fff;
            }
        }
        .item{
            display: flex;
        }
    }

}


