body{
    
    .hire{
        background:rgb(12, 96, 199);
        padding-top:40px !important;
        padding-bottom:40px !important;
        @media(max-width:550px){
            height:auto;
        }
       
        h1{
            font-family: 'Montserrat';
            color:#fff;
            border-bottom:3px solid #084b9c;
            padding-bottom:15px;
            padding: 50px 0px;
            @media(max-width:470px){
                padding:25px;
            }
           
        }
        form{
            display: flex;
            flex-direction: column;
            background: #8e9eab;
            padding: 40px;
            border-radius: 5px;
                .selection{
                    margin: 0 0 1em;
                }
                button~div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .ui.dropdown{
                    background: #ccc;
                    padding: 5px;
                    color: #333;        
                }
        }   
    }
}