/* Regular */
@font-face {
  font-family: 'League Gothic';
  src: url 'fonts/leaguegothic-italic-webfont.eot';
  src: url "fonts/leaguegothic-italic-webfont.eot?#iefix" format("embedded-opentype"), url "fonts/leaguegothic-italic-webfont.woff" format("woff"), url "fonts/leaguegothic-italic-webfont.ttf" format("truetype"), url "fonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular" format("svg");
  font-weight: normal;
  font-style: italic; }

/* Italic */
@font-face {
  font-family: 'League Gothic';
  src: url 'fonts/leaguegothic-regular-webfont.eot';
  src: url "fonts/leaguegothic-regular-webfont.eot?#iefix" format("embedded-opentype"), url "fonts/leaguegothic-regular-webfont.woff" format("woff"), url "fonts/leaguegothic-regular-webfont.ttf" format("truetype"), url "fonts/leaguegothic-regular-webfont.svg#league_gothicregular" format("svg");
  font-weight: normal;
  font-style: normal; }

/* Condensed */
@font-face {
  font-family: 'League Gothic Condensed';
  src: url 'fonts/leaguegothic-condensed-regular-webfont.eot';
  src: url "fonts/leaguegothic-condensed-regular-webfont.eot?#iefix" format("embedded-opentype"), url "fonts/leaguegothic-condensed-regular-webfont.woff" format("woff"), url "fonts/leaguegothic-condensed-regular-webfont.ttf" format("truetype"), url "fonts/leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg" format("svg");
  font-weight: normal;
  font-style: normal; }

/* Condensed Italic */
@font-face {
  font-family: 'League Gothic Condensed';
  src: url 'fonts/leaguegothic-condensed-italic-webfont.eot';
  src: url "fonts/leaguegothic-condensed-italic-webfont.eot?#iefix" format("embedded-opentype"), url "fonts/leaguegothic-condensed-italic-webfont.woff" format("woff"), url "fonts/leaguegothic-condensed-italic-webfont.ttf" format("truetype"), url "fonts/leaguegothic-condensed-italic-webfont.svg#league_gothic_condensed_itaRg" format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Nexa_Free_Bold';
  src: url "fonts/Nexa_Free_Bold-webfont.woff2" format("woff2"), url "fonts/Nexa_Free_Bold-webfont.woff" format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_altblack';
  src: url 'fonts/Mark Simonson - Proxima Nova Alt Black-webfont.eot';
  src: url "fonts/Mark Simonson - Proxima Nova Alt Black-webfont.eot?#iefix" format("embedded-opentype"), url "fonts/Mark Simonson - Proxima Nova Alt Black-webfont.woff2" format("woff2"), url "fonts/Mark Simonson - Proxima Nova Alt Black-webfont.woff" format("woff"), url "fonts/Mark Simonson - Proxima Nova Alt Black-webfont.ttf" format("truetype"), url "fonts/Mark Simonson - Proxima Nova Alt Black-webfont.svg#proxima_nova_altblack" format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_altbold';
  src: url 'fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.eot';
  src: url "fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.eot?#iefix" format("embedded-opentype"), url "fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.woff2" format("woff2"), url "fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.woff" format("woff"), url "fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.ttf" format("truetype"), url "fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.svg#proxima_nova_altbold" format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url 'fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot';
  src: url "fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot?#iefix" format("embedded-opentype"), url "fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff2" format("woff2"), url "fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff" format("woff"), url "fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf" format("truetype"), url "fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular" format("svg");
  font-weight: normal;
  font-style: normal; }

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 4, 2015 */
@font-face {
  font-family: 'proxima_nova_scosfthin';
  src: url 'fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.eot';
  src: url "fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.eot?#iefix" format("embedded-opentype"), url "fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.woff2" format("woff2"), url "fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.woff" format("woff"), url "fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.ttf" format("truetype"), url "fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.svg#proxima_nova_scosfthin" format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url 'fonts/Mark Simonson - Proxima Nova Semibold-webfont.eot';
  src: url "fonts/Mark Simonson - Proxima Nova Semibold-webfont.eot?#iefix" format("embedded-opentype"), url "fonts/Mark Simonson - Proxima Nova Semibold-webfont.woff2" format("woff2"), url "fonts/Mark Simonson - Proxima Nova Semibold-webfont.woff" format("woff"), url "fonts/Mark Simonson - Proxima Nova Semibold-webfont.ttf" format("truetype"), url "fonts/Mark Simonson - Proxima Nova Semibold-webfont.svg#proxima_nova_ltsemibold" format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_ltthin';
  src: url 'fonts/Mark Simonson - Proxima Nova Thin-webfont.eot';
  src: url "fonts/Mark Simonson - Proxima Nova Thin-webfont.eot?#iefix" format("embedded-opentype"), url "fonts/Mark Simonson - Proxima Nova Thin-webfont.woff2" format("woff2"), url "fonts/Mark Simonson - Proxima Nova Thin-webfont.woff" format("woff"), url "fonts/Mark Simonson - Proxima Nova Thin-webfont.ttf" format("truetype"), url "fonts/Mark Simonson - Proxima Nova Thin-webfont.svg#proxima_nova_ltthin" format("svg");
  font-weight: normal;
  font-style: normal; }

#Arm_x5F_mouse {
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  transform-origin: center; }

@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0deg); }
  30% {
    -webkit-transform: rotate(-7deg); }
  70% {
    -webkit-transform: rotate(3deg); }
  100% {
    -webkit-transform: rotate(0deg); } }

#left-arm {
  animation-name: type;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: center; }

@keyframes type {
  0% {
    -webkit-transform: rotate3d(0deg); }
  30% {
    -webkit-transform: rotate(10deg); }
  70% {
    -webkit-transform: rotate(-3deg); }
  100% {
    -webkit-transform: rotate(0deg); } }

#vapor1,
#vapor2,
#vapor3 {
  animation-name: vape;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

@keyframes vape {
  0% {
    transform: translateY(0px);
    opacity: 1; }
  33% {
    transform: translateY(1px); }
  50% {
    opacity: .25; }
  66% {
    transform: translateY(1px); }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

#blinkers polygon {
  animation-name: blink;
  animation-duration: 5s;
  animation-iteration-count: infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#ms-rect,
#ms-circ,
#ms-bl,
#ms-br,
#ms-rect-thin,
#ms-cube-1,
#ms-cube-2,
#ms-cube-3 {
  stroke-dasharray: 479.79;
  stroke-dashoffset: 479.79;
  stroke: #333;
  fill: #fff;
  animation: dash 5s infinite; }

#ms-rect {
  animation-delay: .5s; }

#ms-rect-thin {
  animation-delay: 1s;
  stroke-dasharray: 397.5258483886719; }

#ms-cube-1 {
  animation-delay: 1.5s; }

#ms-cube-2 {
  animation-delay: 2s; }

#ms-cube-3 {
  animation-delay: 2.5s; }

#ms-bl {
  animation-delay: 3s; }

#ms-circ {
  animation-delay: 3.5s; }

#ms-br {
  animation-delay: 4s; }

@keyframes dash {
  0% {
    stroke-dashoffset: 479.79; }
  75% {
    stroke-dashoffset: 0;
    opacity: 0; }
  100% {
    fill: #348AC7;
    transform: translateY(-100px);
    opacity: 0; } }

.animate {
  animation-duration: 1s; }

.path-wrap {
  position: relative; }

.path {
  position: absolute;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  fill: #348AC7; }

@keyframes flash {
  0% {
    stroke-dashoffset: 1000;
    fill: #348AC7;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  10% {
    fill: #348AC7; }
  20% {
    fill: rgba(0, 0, 0, 0.2); }
  30% { }
  40% {
    fill: #348AC7; }
  50% {
    fill: rgba(0, 0, 0, 0.2); }
  60% {
    fill: #348AC7; }
  70% {
    fill: rgba(0, 0, 0, 0.2); }
  80% {
    fill: #348AC7; }
  90% {
    fill: rgba(0, 0, 0, 0.9); }
  100% {
    stroke-dashoffset: 0;
    fill: #fff;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }

.animated {
  animation-duration: .4s;
  animation-fill-mode: both; }

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    transform: scale3d(1, 1, 1); } }

.pulse {
  animation-name: pulse; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInUp {
  animation-name: fadeInUp; }

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp; }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInDown {
  animation-name: fadeInDown; }

body .heading {
  font-family: 'Montserrat'; }

body .ui.button:hover, body .ui.button:focus {
  background: rgba(0, 0, 0, 0);
  color: #03A9F4; }

body .pushable {
  border: 0px;
  box-shadow: none;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 0px; }

body header {
  width: 100%;
  background: #268ee0;
  padding-bottom: 3px;
  padding-top: 10px;
  border-bottom: 4px solid #186eb1; }
  body header h1 {
    color: #fff; }
  body header .ui.container {
    background: rgba(0, 0, 0, 0) !important; }
    body header .ui.container .row .column .ui.menu {
      background: #268ee0;
      border: 0px;
      box-shadow: 0px 0px 0px; }
      body header .ui.container .row .column .ui.menu h1 {
        color: #fff;
        text-shadow: 0px 0px 4px; }
      body header .ui.container .row .column .ui.menu .right.item:before {
        width: 0px; }
      body header .ui.container .row .column .ui.menu .right .item {
        color: #fff;
        font-size: 16px; }
        body header .ui.container .row .column .ui.menu .right .item:hover {
          background: rgba(0, 0, 0, 0.15); }
      body header .ui.container .row .column .ui.menu .right .item:before {
        width: 1px; }

body .ui.basic.segment {
  padding-top: 50px; }

body button.ui.main-menu {
  position: fixed;
  top: 3px;
  right: -7px;
  z-index: 99999;
  background: rgba(0, 0, 0, 0);
  font-size: 38px;
  padding: 5px;
  color: #fff;
  text-shadow: 0px 0px 9px;
  border: 0px;
  margin-right: -20px; }

body p {
  font-family: Nunito, sans-serif;
  color: #737373;
  font-size: 21px; }

body a.item.link {
  color: #fff; }

body a.item.link:hover {
  color: #010f61; }

body footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background: #232526;
  background: -webkit-linear-gradient(to top, #292a2b, #232526);
  background: linear-gradient(to top, #292a2b, #232526); }
  @media (max-width: 470px) {
    body footer {
      position: initial;
      margin-top: 0px; } }
  body footer .ui.segment {
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to bottom, #434343, #000000);
    color: #fff;
    text-align: center;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.4);
    border: none;
    font-size: 7px;
    border-radius: 100%;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 3px;
    margin-top: 0px;
    border: solid;
    margin: 0 auto; }
    body footer .ui.segment.pushable {
      margin-top: 0px; }
    @media (max-width: 588px) {
      body footer .ui.segment {
        height: 50px;
        width: 50px;
        font-size: 5px; } }
  body footer h1 {
    text-align: center;
    font-size: 15px;
    color: #ccc; }
  body footer ul li {
    list-style: none; }
    body footer ul li i.icon {
      font-size: 24px;
      color: #fff; }
  body footer .item {
    display: flex; }

body {
  min-height: 50vh; }
  body .hero {
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: 1000px;
    background-position: top;
    background-repeat: no-repeat; }
    body .hero h5 {
      font-size: 38px;
      margin-bottom: -3px;
      margin-top: 100px; }
    body .hero h5:last-child {
      margin-top: -12px; }
    @media (max-width: 470px) {
      body .hero h5 {
        font-size: 24px;
        margin-top: 0px; }
      body .hero h5:last-child {
        margin-top: -7px; } }
  body .intro {
    background: #333;
    color: #fff;
    padding: 50px;
    margin-top: -42px; }
    body .intro img {
      width: 200px;
      margin: 0 auto;
      border: solid 4px #2284d1; }
    body .intro .profile {
      border-radius: 100%; }
    body .intro a.ui.floated.button {
      background: #2185d0;
      color: #fff;
      margin-bottom: 40px;
      width: 200px; }
      body .intro a.ui.floated.button:hover {
        background: #165c8d; }
      @media (max-width: 470px) {
        body .intro a.ui.floated.button {
          width: 100%; }
          body .intro a.ui.floated.button:first-child {
            margin-bottom: -20px; } }
  body .skills {
    height: 500px;
    padding: 20px;
    background: #fff; }
    body .skills h2 {
      font-family: "sans-serif"; }
    body .skills ul {
      padding-left: 0px; }
      body .skills ul li {
        list-style: none;
        height: 55px;
        border-bottom: solid 1px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        margin-bottom: 3px; }
        body .skills ul li span {
          font-size: 20px;
          font-weight: bold; }
        body .skills ul li img {
          width: 50px;
          margin-right: 5px; }

#bio-header {
  background-position: center -200px; }
  #bio-header.title {
    display: flex;
    align-items: center;
    justify-content: center; }
  #bio-header h1 {
    font-size: 46px;
    color: #fff; }
  @media (max-width: 470px) {
    #bio-header {
      background-position: center; } }

#bio {
  margin-top: 0px;
  background: #fff; }
  #bio > .ui.grid > div {
    padding-bottom: 0px;
    margin-bottom: 0px; }
  #bio .timeline {
    padding: 50px 10px; }
    #bio .timeline h1 {
      color: #89cbff; }
    #bio .timeline .connection {
      border-radius: 50%;
      border: solid 7px #2196F3;
      background: #2196F3;
      width: 1rem;
      height: 1rem;
      display: inline-block;
      position: relative;
      top: -8px;
      right: -28px; }
    #bio .timeline .connection.end {
      position: absolute;
      top: calc(100% - -7px);
      right: 23px; }
    #bio .timeline .row {
      margin-bottom: 0px; }
      #bio .timeline .row p {
        font-size: 16px; }
    #bio .timeline .string-wrapper {
      float: right;
      display: block;
      height: 100%;
      position: relative; }
      #bio .timeline .string-wrapper .string {
        background: #2196F3;
        position: absolute;
        top: 56px;
        left: 33px;
        height: calc(100% - 40px);
        width: 4px; }
    #bio .timeline div.ui.column {
      overflow: hidden; }
    @media (max-width: 470px) {
      #bio .timeline .three.wide.mobile.column {
        padding-left: 0px;
        padding-right: 0px; } }
  #bio div.col.s3.m3 {
    border-left: solid 5px;
    height: 25vh; }
  #bio div.col.s9.m9 h3 {
    font-size: 24px; }
  #bio svg .st0 {
    fill: #727272; }
  #bio svg .st1 {
    fill: none;
    stroke: #727272;
    stroke-width: 7.7728;
    stroke-miterlimit: 10; }
  #bio p.month {
    margin-bottom: -21px;
    font-size: 17px;
    color: #ccc;
    margin-top: 20px; }
  #bio .view-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
    width: 100%;
    height: 300px; }

body .resume-wrapper {
  background: #fff;
  padding: 50px; }
  body .resume-wrapper .resume {
    width: 100%; }
  body .resume-wrapper .experience div {
    margin-top: -10px;
    font-size: 18px; }
    body .resume-wrapper .experience div h5 {
      margin: -11px 0px 10px;
      font-size: 18px;
      color: #03a9f4; }
    body .resume-wrapper .experience div p {
      font-size: 16px;
      margin-bottom: 30px; }

body .download-resume {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  width: 100%;
  height: 300px; }

body .hire {
  background: #2980B9;
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #268ee0);
  background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #268ee0);
  padding-top: 40px !important;
  padding-bottom: 40px !important; }
  @media (max-width: 550px) {
    body .hire {
      height: auto; } }
  body .hire h1 {
    font-family: 'Montserrat';
    color: #fff;
    border-bottom: 3px solid #084b9c;
    padding-bottom: 15px;
    padding: 50px 0px; }
    @media (max-width: 470px) {
      body .hire h1 {
        padding: 25px; } }
  body .hire form {
    display: flex;
    flex-direction: column;
    background: #8e9eab;
    padding: 40px;
    border-radius: 5px; }
    body .hire form .selection {
      margin: 0 0 1em; }
    body .hire form button ~ div {
      display: flex;
      align-items: center;
      justify-content: center; }
    body .hire form .ui.dropdown {
      background: #ccc;
      padding: 5px;
      color: #333; }

body .projects > .ui.grid .row {
  padding: 0px; }
  body .projects > .ui.grid .row .column {
    padding: 0px;
    color: #fff; }
    body .projects > .ui.grid .row .column.js {
      background-color: #24abe8;
      transition: all ease-in-out .2s; }
      body .projects > .ui.grid .row .column.js .button {
        background: #ff8b06;
        color: #fff;
        border-bottom: 3px solid #d77404;
        width: 100px;
        transition: all ease-in-out .2s; }
        body .projects > .ui.grid .row .column.js .button:hover {
          border-bottom: #cc6f04;
          width: 175px; }
      body .projects > .ui.grid .row .column.js:hover {
        background-color: #1f92c7; }
    body .projects > .ui.grid .row .column.gb {
      background-color: #333;
      transition: all ease-in-out .2s; }
      body .projects > .ui.grid .row .column.gb .button {
        background: #ff8b06;
        color: #fff;
        border-bottom: 3px solid #d77404;
        width: 100px;
        transition: all ease-in-out .2s; }
        body .projects > .ui.grid .row .column.gb .button:hover {
          border-bottom: #cc6f04;
          width: 175px; }
      body .projects > .ui.grid .row .column.gb:hover {
        background-color: #181818; }
    body .projects > .ui.grid .row .column.cw {
      background-color: #78d22f;
      transition: all ease-in-out .2s; }
      body .projects > .ui.grid .row .column.cw .button {
        background: #ff8b06;
        color: #fff;
        border-bottom: 3px solid #d77404;
        width: 100px;
        transition: all ease-in-out .2s; }
        body .projects > .ui.grid .row .column.cw .button:hover {
          border-bottom: #cc6f04;
          width: 175px; }
      body .projects > .ui.grid .row .column.cw:hover {
        background-color: #64b325; }
    body .projects > .ui.grid .row .column.project-explore {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      body .projects > .ui.grid .row .column.project-explore:hover {
        color: #fff;
        text-shadow: 0px 5px 10px rgba(51, 51, 51, 0.666); }
      body .projects > .ui.grid .row .column.project-explore h1 {
        font-size: 4rem; }

body .lps {
  background: #fff;
  padding: 20px 0px;
  margin: -20px 0px 20px; }

body #projects-header {
  height: 350px; }

body #projects-header.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto 14px; }
  body #projects-header.title h1 {
    font-size: 4rem;
    color: #333;
    margin-left: 10px; }
    @media (max-width: 470px) {
      body #projects-header.title h1 {
        font-size: 2rem; } }
  body #projects-header.title img {
    width: 200px; }
    @media (max-width: 470px) {
      body #projects-header.title img {
        width: 100px; } }

body #graphics h1 {
  font-family: 'Montserrat'; }

body #graphics .ui.container {
  margin: 40px auto; }

body #graphics .three.row .column {
  padding: 0px !important; }

body .project {
  background: #56CCF2;
  /* fallback for old browsers */
  background: -webkit-radial-gradient(#56CCF2, #2a74d4);
  /* Chrome 10-25, Safari 5.1-6 */
  background: radial-gradient(#56CCF2, #2a74d4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 10px;
  position: relative;
  box-shadow: 0px 0px 0px black;
  transition: all .25s ease-in-out;
  padding-bottom: 20px !important; }
  body .project img.ui.fluid.image {
    transition: all 0.25s linear; }
  body .project img.ui.fluid.image:hover {
    filter: drop-shadow(0px 0px 8px #4484c5); }
  body .project .item {
    width: 100%;
    height: 300px; }
  body .project h1 {
    margin-bottom: 0px;
    margin-top: 10px;
    color: #fff; }
  body .project p {
    color: #2db6f4; }

body .project-header {
  background-size: cover;
  background-position: center -200px; }
  @media (max-width: 470px) {
    body .project-header div#projects-header {
      background-position: center; } }
  body .project-header p {
    color: #fff;
    font-size: 17px;
    font-weight: 100; }
  body .project-header .project-intro {
    height: 500px;
    display: flex;
    align-items: center !important; }
    body .project-header .project-intro .tags {
      font-size: 11px;
      border-radius: 5px;
      padding: 8px;
      background: rgba(0, 0, 0, 0.1);
      margin: 10px 2px; }
    body .project-header .project-intro .blue {
      background-color: #0E77E4;
      color: #fff;
      border-top: solid 1px #2689EF;
      border-bottom: solid 1px #075FBB; }

body .slider {
  background-color: #2E4B97; }
  @media (max-width: 470px) {
    body .slider .slick-dots {
      bottom: 5px; } }
  body .slider .fill {
    fill: #2E4B97; }
  body .slider .slick-slide.slick-active {
    padding: 20 5px;
    opacity: 1; }
    @media (max-width: 470px) {
      body .slider .slick-slide.slick-active {
        padding: 20px 0px; } }
  body .slider .slick-slide {
    padding: 40px 10px;
    opacity: .5;
    transition: all .25s ease-in-out; }
  body .slider .slick-next:before, body .slider .slick-prev:before {
    font-size: 30px; }
  @media (max-width: 470px) {
    body .slider .slick-next:before, body .slider .slick-prev:before {
      display: none; } }

body svg#Layer_1 {
  margin-top: 10px; }

body .collage div.column {
  padding: 0px !important;
  margin-bottom: -4px; }

body .project-details-wrapper {
  margin-top: 20px;
  margin-bottom: 50px; }
  body .project-details-wrapper h2 {
    color: #10294f; }
  body .project-details-wrapper .project-details {
    background: #3d64a0;
    font-weight: 100;
    font-size: 14px;
    padding: 20px;
    border-radius: 5px;
    border: 3px solid #244d8b;
    box-shadow: 0px 5px 8px rgba(54, 85, 130, 0.75);
    color: #fff; }
    @media (min-width: 767px) {
      body .project-details-wrapper .project-details {
        min-height: 200px; } }

body .project-nav-title {
  margin: 20px 0px; }

body .project-nav .ui.button {
  margin: 40px 20px;
  min-width: 300px; }
  body .project-nav .ui.button:hover {
    background: #333;
    color: #fff; }
  @media (max-width: 470px) {
    body .project-nav .ui.button {
      width: 100%;
      margin: 20px 0px; } }

@media (max-width: 767px) {
  .hero {
    height: auto !important; } }
