body{
    .project-intro{
        
        .tags{
            font-size:12px;
            border-radius:20px;
            padding:15px;
            background:rgba(0,0,0,.1);
            margin:10px 0px;
            
            
           
        }
        .blue{
            background-color:#0E77E4;
            color:#fff;
            border-top:solid 1px #2689EF;
            border-bottom:solid 1px #075FBB;
        }
    }
    .slider{
        background-color:#2E4B97;
        .fill{
            fill:#2E4B97;
        }
    }
    

    
}