body{
    .projects{
        >.ui.grid{
            .row{
                padding:0px;
                .column{
                    padding:0px;
                    color:#fff;
                    &.js{
                        background-color:#24abe8;
                        transition:all ease-in-out .2s;
                        .button{
                            background:rgb(255, 139, 6);
                            color:#fff;
                            border-bottom:3px solid rgb(215, 116, 4);
                            width:100px;
                            transition:all ease-in-out .2s;
                            &:hover{
                                border-bottom:rgb(204, 111, 4);
                                width:175px;
                            }
                        }
                        &:hover{
                            background-color:#1f92c7;
                            
                        }
                    }
                    &.gb{
                        background-color:#333;
                        transition:all ease-in-out .2s;
                        .button{
                            background:rgb(255, 139, 6);
                            color:#fff;
                            border-bottom:3px solid rgb(215, 116, 4);
                            width:100px;
                            transition:all ease-in-out .2s;
                            &:hover{
                                border-bottom:rgb(204, 111, 4);
                                width:175px;
                            }
                        }
                        &:hover{
                            background-color:rgb(24, 24, 24);
                        }
                    }&.cw{
                        background-color:#78d22f;
                        transition:all ease-in-out .2s;
                        .button{
                            background:rgb(255, 139, 6);
                            color:#fff;
                            border-bottom:3px solid rgb(215, 116, 4);
                            width:100px;
                            transition:all ease-in-out .2s;
                            &:hover{
                                border-bottom:rgb(204, 111, 4);
                                width:175px;
                            }
                        }
                        &:hover{
                            background-color:#64b325;
                        }
                    }
                    &.project-explore{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        &:hover{
                            color:#fff;
                            text-shadow: 0px 5px 10px rgba(51, 51, 51, 0.666);
                        }
                        h1{
                            font-size: 4rem;
                            
                        }
                        
                    }
                    
                }
            }
        }
    }
    .lps{
        background:#fff;
        padding:20px 0px;
        margin:-20px 0px 20px;
    }
    #projects-header{
        height:350px;
        
       
    }
    #projects-header.title{
        display: flex;
        align-items: center;
        justify-content: center;
        margin:0px auto 14px;
        h1{
            font-size:4rem;
            color:#333;
            margin-left:10px;
            @media(max-width:470px){
                font-size:2rem;
            }
        }
        img{
            width:200px;
            @media(max-width:470px){
                width:100px;
            }
        }
    }

    #graphics{
        h1{
            font-family: 'Montserrat'
        }
        .ui.container{
            margin: 40px auto;
        }
        .three.row {
            .column{
                padding:0px !important;
               
            }
        }    
    }
    .project{
        background: #56CCF2;  /* fallback for old browsers */
        background: -webkit-radial-gradient(#56CCF2,rgb(42, 116, 212));  /* Chrome 10-25, Safari 5.1-6 */
        background: radial-gradient(#56CCF2, rgb(42, 116, 212)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        padding:10px;
        position: relative;
        box-shadow: 0px 0px 0px black;
        transition: all .25s ease-in-out;
        padding-bottom:20px !important;
        &:hover{
        }
       
        
        
        img.ui.fluid.image{
            transition: all 0.25s linear;   
        }
        img.ui.fluid.image:hover {
            filter: drop-shadow(0px 0px 8px rgb(68, 132, 197)); 
        }
        
        .item{
            width:100%;
            height:300px;
        }
        h1{
            margin-bottom: 0px;
            margin-top: 10px;
            color: #fff;
        }
        p{
            color: #2db6f4;
        }
        
    }

    .project-header{
        background-size:cover;
        background-position:center -200px;
        @media(max-width:470px){
            div#projects-header {
                    background-position: center;
            }
        }
        
        p{
            color:#fff;
            font-size: 17px;
            font-weight: 100;
        }
        
        .project-intro{
            height:500px;
            display: flex;
            align-items: center !important;
            
            .tags{
                font-size:11px;
                border-radius:5px;
                padding:8px;
                background:rgba(0,0,0,.1);
                margin:10px 2px;
           
            }
            .blue{
                background-color:#0E77E4;
                color:#fff;
                border-top:solid 1px #2689EF;
                border-bottom:solid 1px #075FBB;
            }
        }
    }
    

    .slider{
        background-color:#2E4B97;
        @media(max-width:470px){
            .slick-dots {
                bottom: 5px;
            }
        }
        .fill{
            fill:#2E4B97;
        }
        .slick-slide.slick-active {
            padding: 20 5px;
            opacity: 1;
            @media(max-width:470px){
                padding:20px 0px;
            }
        }
        
        .slick-slide {
            padding: 40px 10px;
            opacity:.5;
            transition: all .25s ease-in-out;
        }
        .slick-next:before, .slick-prev:before{
            font-size:30px;
        }
        @media(max-width:470px){
            .slick-next:before, .slick-prev:before{
                display: none;
            }
        }
       
    }

    svg#Layer_1{
        margin-top: 10px;
    }
    

    .collage  div.column{
        padding:0px !important;
        margin-bottom:-4px;
    }
    
    .project-details-wrapper{
        margin-top:20px;
        margin-bottom:50px;
        h2{
            color:rgb(16, 41, 79);
        }
        .project-details{
            background:#3d64a0;
            font-weight:100;
            font-size:14px;
            padding:20px;
            border-radius:5px;
            border:3px solid rgb(36, 77, 139);
            box-shadow: 0px 5px 8px rgba(54, 85, 130, 0.75);
            color:#fff;
            @media(min-width:767px){
                min-height:200px;
            }
        }    
    }
    .project-nav-title{
        margin:20px 0px;
    }
    .project-nav {
        .ui.button{
            margin:40px 20px;
            min-width:300px;
            &:hover{
                background:#333;
                color:#fff;
            }
            @media(max-width:470px){
                width:100%;
                margin:20px 0px;
                
            }
        }
        
    }
}